

.overview-cards{
    display: flex;
    flex-direction: row;
    gap: 5%;
    grid-template-rows:auto;

}

.overview-card{
    min-width: 30%;
}

/* chart and comments section */
.chart-comments-section{
 /* margin-top: 10%;
 display: flex;
 flex-direction: row;
 align-content: space-evenly;
 grid-template-columns: 200px 200px;
 gap: 5%; */

 display: grid; 
padding: 1rem; 
grid-template-columns: repeat(1, minmax(0, 1fr)); 
gap: 1rem; 
max-width: 1280px; 


}

.chart{
 
}

.comments-card{
 /* width: 40% */
}

.avatar-name{
    display: flex;
    flex-direction: row;
    gap: 5%;
}

/* mobile settings */
@media screen and (max-width: 1025px) {
    
   .overview-cards{
    display: grid;
    flex-direction: column; 
    gap: 20px;
    grid-template-columns: 200px 200px;
   }

   .chart-comments-section{
    display: flex;
    flex-direction: column;
  
   }

   .comments-card{
    max-width: 70%;
   }
   .chart{
    margin-bottom: 10%;
    max-width: 70%;
   }
   .date-filter{
    width: 200%;
    padding: 2%;
   }
}