.overview-cards{
    display: flex;
    flex-direction: row;
    gap: 5%;
   
    align-content: space-evenly;
  
}

.overview-card{
    min-width: 30%;
}

/* mobile settings */
@media screen and (max-width: 768px) {
    
   .overview-cards{
    display: grid;
    flex-direction: column; 
    gap: 20px;
    grid-template-columns: 200px 200px;
   }

   .date-filter{
    width: 200%;
    padding: 2%;
   }
}