

.overview-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjust the min size for cards */
    gap: 20px; /* Space between cards */
    /* padding: 15px; Add padding around the entire grid */
    padding: 2%;
    justify-items: center; /* Center cards in each grid cell */
    box-sizing: border-box; /* Ensure padding doesn't affect the layout */
    margin-left: -2%;
}

.overview-card {
    width: 100%;
    max-width: 300px; /* Set a maximum width to prevent oversized cards */
    border-radius: 8px; /* Optional: Rounded corners for cards */
    padding: 16px; /* Optional: Inner padding for card content */
    box-sizing: border-box; /* Ensure padding doesn't affect size */
}


/* chart and comments section */
.charts-comment-section{
 margin-top: 5%;
 display: flex;
 flex-direction: row;
 /* align-content: space-evenly;
 grid-template-columns: 200px 200px;
 gap: 5%; */

 display: grid; 
padding: 1rem; 
grid-template-rows: auto; 
gap: 1rem; 
max-width: 1280px; 


}

.chart{
    max-width: 70%;
}

.comments-card{
 width: 40%;
}

.avatar-name{
    display: flex;
    flex-direction: row;
    gap: 5%;
}

/* mobile settings */
@media screen and (max-width: 1025px) {
    
   .overview-cards{
    display: grid;
    flex-direction: column; 
    gap: 20px;
    grid-template-columns: 200px 200px;

   }

   .overview-card{
    width: 100%;
   }
   .charts-comment-section{
    display: flex;
    flex-direction: column;
  
   }

   .comments-card{
    max-width: 70%;
   }
   .chart{
    margin-bottom: 10%;
    max-width: 70%;
   }
   .date-filter{
    width: 200%;
    padding: 2%;
   }
}